services:
  app:
    image: "ghcr.io/kleis-technology/cloud-assess/cloud-assess-app:v2.1.0"
    container_name: cloud-assess-app
    ports:
    - "8080:8080"
    volumes:
      - ./trusted_library:/trusted_library
    environment:
      - LCA_DIRECTORY=/trusted_library
      - LCA_LIB_DIRECTORY=lib
      - LCA_ARCHIVE_DIRECTORY=archive
      - LCA_INVENTORY_DIRECTORY=inventory
#      - CORS_ENABLED=true
#      - CORS_ALLOWED_ORIGIN=http://localhost
  swagger_ui:
    image: "swaggerapi/swagger-ui"
    container_name: swagger-ui
    volumes:
      - ./openapi:/app
    ports:
      - "80:8080"
    environment:
      - SWAGGER_JSON=/app/api.yaml
